<!--<table class="table" >-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th scope="col">#</th>-->
<!--    <th scope="col">User Name</th>-->
<!--    <th scope="col">PassWord</th>-->
<!--    <th scope="col">Ideea</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let usr of user">-->
<!--    <th scope="row">{{usr.id}}</th>-->
<!--    <td class="Nem">@{{usr.userNem}}</td>-->
<!--    <td>{{usr.passWord}}</td>-->
<!--    <td>{{usr.ideea}}</td>-->
<!--    <td>{{usr.likes}}</td>-->
<!--    <td class="gly">{{usr.diLikes}}</td>-->
<!--  </tr>-->

<!--  </tbody>-->
<!--</table>-->
