.cardShaddow{
  /*background-color: #a7aeb7;*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 55%;
  /*width: 900px;*/
  margin: auto;
  height: 500px;

}
.cardShaddow:hover{
  transition: 0.4s;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
/*.textWiddth{*/
/*  !*color: #1d6cb9;*!*/
/*  width: 700px;*/
/*}*/
/*.bkgrnd{*/

/*}*/

/*Animation---------------*/
.slide-left {
  animation: slide-left 0.5s cubic-bezier(0.250, 0.360, 0.450, 0.940) both;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #357935;
  border-radius: 10px;
  opacity: 0.4;


}
@keyframes slide-left {
  2% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}






