.cardShaddow{
  /*background-color: #a7aeb7;*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 55%;
  /*width: 900px;*/
  margin: auto;
  height: 500px;

}
.cardShaddow:hover{
  transition: 0.4s;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.textWiddth{
  /*color: #1d6cb9;*/
  width: 700px;
}
