<div class="container">
  <div *ngFor="let  objArrau of objArrau">
    <h1 class=" text-center">{{objArrau.subject|titlecase}}</h1>
    <p class=" form-text bakgrndd text-center">{{objArrau.userNem|lowercase}}</p>
    <p class=" text-center">{{objArrau.idea}}</p>
  </div>
</div>

<!------------------------------------------------------------->
<div class="container my-xxl-4">

  <div class="row-cols-md-1 form-control">

    <input
      [(ngModel)]="Ideea.subject"
      #Sbjct
      class="form-control" placeholder="Subject">

    <div class="form-control">
      <input
        [(ngModel)]="Ideea.username"
        #usrnem
        placeholder="@UserName">
    </div>
    <div>
      <textarea
        [(ngModel)]="Ideea.ideeea"
        #Ida
        class="form-control" rows="6" placeholder="Idea">
      </textarea>
    </div>
    <button type="button" class="btn-primary btn"(click)="postIdea(Sbjct.value,usrnem.value,Ida.value); AddUser()">Post
    </button>
  </div>
</div>
